@use "../utils/variables" as *;

.header {
  max-width: 1240px;
  margin: 10px auto 10px auto;
  width: 100%;
  padding: 0px; // un petit padding horizontal mobile-friendly
  display: flex;
  align-items: center; // Centre verticalement les enfants
  justify-content: space-between; // Logo à gauche, nav à droite
  padding: 1rem; // Espacement interne optionnel

  &__logo {
    max-width: 200px;
    min-width: 145px;
    height: auto;
    transition: transform 0.3s;
  }

  &__list {
    display: flex;
    gap: 20px; // Espace entre les liens
    list-style: none;
    margin: 0; // Supprime les marges par défaut de <ul>
    padding: 0; // Supprime les paddings par défaut
  }

  &__link {
    color: $text-color;
    text-decoration: none;
    font-weight: 400;
    font-size: $font-size-base; // Taille de police ajustée
    font-family: $font-main;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      text-decoration: underline;
    }
  }
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .header__list {
      flex-direction: row;
      gap: 10px;
    }

    .header__link {
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }
}
