@use "../utils/variables" as *;

.header {
  max-width: 1240px;
  margin: 10px auto 10px auto;
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center; // Centre verticalement les enfants
  justify-content: space-between; // Logo à gauche, nav à droite
  padding: 1rem; // Espacement interne optionnel

  &__logo {
    max-width: 200px;
    height: auto;
    transition: transform 0.3s;
  }

  &__list {
    display: flex;
    gap: 20px; // Espace entre les liens
    list-style: none;
    margin: 0; // Supprime les marges par défaut de <ul>
    padding: 0; // Supprime les paddings par défaut
  }

  &__link {
    color: $text-color;
    text-decoration: none;
    font-weight: 400;
    font-size: $font-size-base; // Taille de police ajustée
    font-family: $font-main;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 0.5rem 1rem; // Less top/bottom padding

      &__logo {
        max-width: 120px;
      }

      &__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
      }

      &__link {
        font-size: 0.85rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}
