@use "../utils/variables" as *;

.rating-stars {
  display: flex;
  gap: 6px;

  &__star {
    height: 36px;
    color: lightgray;

    &--full {
      color: $secondary-color; // rouge
    }

    &--empty {
      color: #e3e3e3; // gris clair rempli
    }
  }
}
