.fichelogement__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 0;
}

.fichelogement__header {
  flex: 1 1 60%;
}

.fichelogement__rating {
  display: flex;
  flex: 1 1 30%;
  gap: 10px;

  // Mobile first: row layout
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-top: 20px;
  }
}

// 🧱 Collapse layout
.fichelogement__collapse {
  display: flex;
  flex-direction: column;

  .collapse {
    width: 100%;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 60px;

    .collapse {
      width: 100%;
    }
  }
}
