@use "../utils/variables" as *;

.errorpage {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  padding: 20px;
  text-align: center;
  font-family: $font-main;

  &__title {
    color: $secondary-color;
    font-size: 200px;
    margin-bottom: 20px;
    margin-top: 20px;

    @media (max-width: 768px) {
      font-size: 100px;
    }

    @media (max-width: 480px) {
      font-size: 0px;
    }
  }

  &__text {
    color: $secondary-color;
    font-size: 24px;

    @media (max-width: 480px) {
      font-size: 18px;
      padding: 0 10px;
    }
  }

  &__link {
    color: black;
    font-size: 18px;
    text-decoration: underline;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}
