// Utils
@use "utils/variables";
@use "utils/mixins";
@use "utils/layout";

// Components
@use "components/header";
@use "components/footer";
@use "components/banner";
@use "components/cardgrid";
@use "components/collapse";
@use "components/slideshow";
@use "components/logementHeader";
@use "components/host";
@use "components/ratingStar";

//pages
@use "pages/home";
@use "./pages/notfound";
@use "pages/ficheLogement";

* {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh; // prend toute la hauteur de la fenêtre
  display: flex;
  flex-direction: column;
}
