// Couleurs
$primary-color: #ffffff;
$secondary-color: #ff6060;
$text-color: black;

// Polices
$font-main: "montserrat";
$font-size-base: 24px;

// Espacements
$spacing-small: 8px;
$spacing-medium: 16px;
